<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>登录</title>
<link rel="stylesheet" href="css/login.css"/><!-- 最前面 -->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" href="puck/css/puck.css"/><!-- 最前面 -->
<script type="text/javascript" src="puck/puck.all.js"></script>
<script type="text/javascript" src="js/login.js"></script>

</head>
<body>
	<div class="form">
		<form>
		<div class="username"><span class="np">用户名:</span><input  class="inventory" maxlength="30" type="text" id="username"   onKeyUp="value=value.replace(/[^\w]/g,'')" name="username"/></div>
		<div class="password"><span class="np">密码:</span><input  class="inventory" maxlength="30" type="password" id="password" onKeyUp="value=value.replace(/[^\w]/g,'')"  name="password"/></div>
		<br/><br/>
		<div class="login"><input type="button" value="登录"/></div>
		<div class="register"><input type="button" value="注册"/></div>
		</form>
	</div>
	<div id="register" style="display:none">
	    <div class="username"><span class="np">用户名:</span><input  class="inventory" maxlength="30" type="text" id="usernameA"   onKeyUp="value=value.replace(/[^\w]/g,'')" name="usernameA"/></div>
	    <div class="address"><span class="np">地址:</span><input  class="inventory" maxlength="30" type="text" id="address"   name="address"/></div>
	    <div class="callnumber"><span class="np">电话:</span><input  class="inventory" maxlength="30" type="text" id="callnumber" onKeyUp="value=value.replace(/[^\w]/g,'')"  name="callnumber"/></div>
	    <div class="password"><span class="np">密码:</span><input  class="inventory" maxlength="30" type="password" id="passwordA" onKeyUp="value=value.replace(/[^\w]/g,'')"  name="passwordA"/></div>
	    <div class="passwordC"><span class="np">确认密码:</span><input  class="inventory" maxlength="30" type="password" id="passwordCA" onKeyUp="value=value.replace(/[^\w]/g,'')"  name="passwordCA"/></div>
	</div>
</body>
</html>