<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>订单</title>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" href="common/common.css"/>
<link rel="stylesheet" href="common/common-self.css"/>
<link rel="stylesheet" href="puck/css/puck.css"/><!-- 最前面 -->
<link rel="stylesheet" href="css/orders.css"/>
<!-- <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script> -->
<script type="text/javascript" src="puck/puck.all.js"></script>
<script type="text/javascript" src="js/orders.js"></script>

</head>
<body>
<div class="pk-nav">  
    <div class="nav-head">  
        <i class="nav-logo"></i>  
        <span class="nav-title">幸福商店</span>  
    </div>  
    <div class="nav-body nav-operate">  
        <ul>  
            <li>  
                <a class="nav-item  navA" href="javascript:void(0);">  
                    <i class="icon"></i>  
                    <span class="name">商品</span>  
                </a>  
            </li>  
            <li>  
                <a class="nav-item active navB" href="javascript:void(0);">  
                    <i class="icon"></i>  
                    <span class="name">订单</span>  
                </a>  
            </li>  
            <li>  
                <a class="nav-item  navC" href="javascript:void(0);">  
                    <i class="icon"></i>  
                    <span class="name">统计</span>    
                </a>  
            </li>  
        </ul>  
    </div>  
</div> 
<div class="crud ">
	<ul >  
            <li>  
                <a class="delete" href="javascript:void(0);">  
                    <i class="icon"></i>  
                    <span class="name">删除</span>  
                </a>  
            </li>  
        </ul>  
</div> 
 <div id="DataGrid" class="datagrid" style="height:90%;"></div>  
</body>
</html>